<nav>
  <a [routerLink]="'/Main'">Main</a>
  <a [routerLink]="'/Users'">Users</a>
</nav>
<h1>Список пользователей</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <td>Имя</td>
    <td>Пол</td>
    <td>Возраст</td>
    <td>Почта</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.name}}</td>
    <td>{{user.gender}}</td>
    <td>{{user.age}}</td>
    <td>{{user.email}}</td>
    <td>
      <button mat-raised-button (click)="deleteUser()">X</button>
    </td>
  </tr>
  </tbody>
</table>
<button mat-raised-button (click)="openDialog()">Add new user</button>

<router-outlet></router-outlet>
